<div>
  <p>Argumentos de entrada: {{args}}</p>
  <p>Sistema operativo: {{os}}</p>
  <p>Versión de Node: {{nodeVersion}}</p>
  <p>Memoria total reservada: {{memoryUsage}}</p>
  <p>Path de ejecución: {{path}}</p>
  <p>Process Id: {{processId}}</p>
  <p>Carpeta del proyecto: {{workingDirectory}}</p>
</div>